.card-grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 280px;
  height: 280px;
  overflow: hidden;
  background-color: black;
  border-radius: 15px;
  font-size: 23px;
  font-family: Poppins, sans-serif;
  margin: 10px;
  color: #f0b90b;
}

.img-grid {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 10px 10px;
  justify-content: space-between;
  align-content: center;
  font-size: 30px;
  color: #f0b90b;
  font-family: Poppins, sans-serif;
}

.messagecard {
  text-align: center;
  width: 280px;
  height: 280px;
  overflow: hidden;
  background-color: black;
  border-radius: 15px;
  font-size: 23px;
  font-family: Poppins, sans-serif;
  margin: 10px;
  color: #f0b90b;
}
button {
  color: #f0b90b;
  background-color: black;
}

.title {
  margin-top: 66px;
}
